<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Cliente</title>
</head>
<body>
    Tem certeza que deseja apagar o cliente '{{object.nome}} ?'
    <form action="." method="POST">
        {% csrf_token %}
        <button type="submit">Sim, tenho certeza</button>
        <button type="reset" onclick="location.href=' {% url 'clientes:list' %} '" >Cancelar</button>
    </form>
</body>
</html>